<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="XSDDiagram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
  <XSDDiagram.Properties.Settings>
   <setting name="Alignement" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ShowDocumentation" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DisplayPanel" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AlwaysShowOccurence" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowType" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Zoom" serializeAs="String">
    <value>8</value>
   </setting>
  </XSDDiagram.Properties.Settings>
 </userSettings>
</configuration>
